.characters img {
  height: 250px;
  width: auto;
}

.comics img {
  height: 355px;
  width: auto;
}

.text-justify {
  text-align: justify;
}

.min-text {
  height: 148px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, h2, h3, h4, h5 {
  padding: 5px 15px;
}

md-badge {
  margin: 0 0 0 8px;
  background-color: #F0141E;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 75%;
}
