<section>
  <h1 class="md-display-2">Welcome to Marvel Comics</h1>
  <h2 class="md-display-1" data-ng-show="characters.length>0">Marvel Characters</h2>
  <div layout="row">
    <div flex data-ng-repeat="char in characters | limitTo:5">
      <md-card class="characters">
        <img data-ng-src="{{char.thumbnail.path+'.'+char.thumbnail.extension}}" class="md-card-image" alt="image caption">
        <md-card-content>
         <h4 class="md-subhead">{{char.name}}</h4>
         <md-list ng-cloak>
           <md-list-item>
             <p> No of Comics </p>
             <md-badge class="md-secondary">
                 {{char.comics.available}}
             </md-badge class="md-secondary">
           </md-list-item>
           <md-list-item>
             <p> No of Stories </p>
             <md-badge class="md-secondary">
                 {{char.stories.available}}
             </md-badge class="md-secondary">
           </md-list-item>
           <md-list-item>
             <p> No of Series </p>
             <md-badge class="md-secondary">
                 {{char.series.available}}
             </md-badge class="md-secondary">
           </md-list-item>
         </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <h2 class="md-display-1" data-ng-show="comics.length>0">Marvel Comics</h2>
  <div layout="row">
    <div flex data-ng-repeat="comic in comics | limitTo:5">
      <md-card class="comics">
        <img data-ng-src="{{comic.thumbnail.path+'.'+comic.thumbnail.extension}}" class="md-card-image" alt="image caption">
        <md-card-content>
         <h4 class="md-subhead">{{comic.title}}</h4>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <h2 class="md-display-1" data-ng-show="events.length>0">Marvel Events</h2>
  <div layout="row">
    <div flex data-ng-repeat="event in events | limitTo:5">
      <md-card class="comics">
        <img data-ng-src="{{event.thumbnail.path+'.'+event.thumbnail.extension}}" class="md-card-image" alt="image caption">
        <md-card-content>
            <h4 class="md-subhead" >{{event.title}}</h4>
            <md-list ng-cloak>
              <md-list-item>
                <p> Event Characters </p>
                <md-badge class="md-secondary">
                    {{event.characters.available}}
                </md-badge class="md-secondary">
              </md-list-item>
              <md-list-item>
                <p> Event Comics </p>
                <md-badge class="md-secondary">
                    {{event.comics.available}}
                </md-badge class="md-secondary">
              </md-list-item>
              <md-list-item>
                <p> Event Creators </p>
                <md-badge class="md-secondary">
                    {{event.creators.available}}
                </md-badge class="md-secondary">
              </md-list-item>
              <md-list-item>
                <p> Event Series </p>
                <md-badge class="md-secondary">
                    {{event.series.available}}
                </md-badge class="md-secondary">
              </md-list-item>
              <md-list-item>
                <p> Event Stories </p>
                <md-badge class="md-secondary">
                    {{event.stories.available}}
                </md-badge class="md-secondary">
              </md-list-item>
            </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <h2 class="md-display-1" data-ng-show="events.length>0">Marvel Stories</h2>
  <div layout="row">
    <div flex data-ng-repeat="story in stories | limitTo:5">
      <md-card class="comics">
        <md-card-content>
            <h4 class="md-subhead">{{story.title}}</h4>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>
